/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
    background-color: transparent;
}

/** Classes for the displayed toast **/
.Toastify__toast-body {
    font-size: 1rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/** Used to position the icon **/
.Toastify__toast-icon {
    display: none;
}

/** handle the notification color and the text color based on the theme **/
.Toastify__toast-theme--dark {
    background-color: #18a349;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}
.Toastify__toast-theme--light {
    background-color: #18a349;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}

/** Classes for the close button. Better use your own closeButton **/
.Toastify__close-button {
    display: none;
}
